@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TheBookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] TheBookCave</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/styling-main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="~/images/logob.png" />
</head>
<body>
<nav class="navbar navbar-fixed-top" id="navbar">
    <div>
        <a asp-controller="Home" asp-action="Index"><img id="logo" src="~/images/logo.png" alt=""></a>

        <form method="GET" class="search-bar inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="search" name="searchString" placeholder="Search for books by title / author ..." />
            <a asp-action="Index">
                <input type="submit" class="search" value="Search">
            </a>
        </form>

        <div class="icons">
            <div class="dropdown">
                <a asp-controller="Account" asp-action="Index"> <span class="glyphicon glyphicon-user dropbtn"></span> </a>
                <div class="dropdown-window">
                    <div class="login">
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-list">
                        @{
                            if(SignInManager.IsSignedIn(User)) {
                                <a asp-controller="Account" asp-action="Index">My Account</a>
                                
                                <a href="#">My Orders</a>
                            }
                            else {
                                <a asp-area="action" asp-controller="Account" asp-action="Login">My Account</a>
                                <a asp-area="action" asp-controller="Account" asp-action="Login">My Orders</a>
                            }
                        }
                    </div>
                </div>
            </div>
            <a href="#"> <span class="glyphicon glyphicon-heart"></span> </a>
            <a asp-controller="ShoppingCart" asp-action="Index"> <span class="glyphicon glyphicon-shopping-cart"></span> </a>
        </div>
    </div>
</nav>

<div id="sidebar-wrap">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#">ON SALE</a></li>
    </ul>
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a asp-controller="Book" asp-action="Top10">Top Rated</a></li>
    </ul>
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a asp-controller="Book" asp-action="Index">Genres</li></a>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Art & Photography">Art & Photography</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Biography">Biography</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Children">Children</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Crime">Crime</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Education">Education</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Fantasy">Fantasy</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Fiction">Fiction</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Food">Food</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Historical Fiction">Historical Fiction</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="History">History</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Nature">Nature</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Self Help">Self Help</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Philosophy">Philosophy</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Romance">Romance</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Science Fiction">Science Fiction</a></li>
        <li><a asp-controller="Book" asp-action="Genre" asp-route-genre="Thriller">Thriller</a></li>


    </ul>
</div>


<div class="container body-content">
        @RenderBody()
</div>

<div id="footer">
    <hr />
    <ul class="list-social">
        <li class="item-social"><a asp-action="AboutUS" asp-controller="Footers">About Us</a></li>
        <li class="item-social"><a asp-action="Help" asp-controller="Footers">Help</a></li>
        <li class="item-social"><a asp-action="TermsAndConditions" asp-controller="Footers">Terms&Conditions</a></li>
    </ul>
    <div>
        <img src="~/Images/Facebook.png" alt="No Images" class="social" >
        <img src="~/Images/Twitter.png" alt="No Images" class="social">
        <img src="~/Images/Instagram.png" alt="No Images" class="social">
    </div>
    <a id="lock-icon" asp-action="Login" asp-controller="EmployeeSite"><span class="glyphicon glyphicon-lock"></span></a>
</div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
