@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TheBookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
var claim = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault( c => c.Type == "Name")?.Value;
}

@{
    if (SignInManager.IsSignedIn(User))
    {
        <form asp-action = "LogOut" asp-controller="Account" method="POST">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class= "btn btn-link navbar-btn navbar-link">@claim</button>
                </li>
                <li>
                    <button type="submit" class= "btn btn-link navbar-btn navbar-link">Log Out</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <a asp-area="action" asp-controller="Account" asp-action="Login">Log in</a>
        <a asp-area="action" asp-controller="Account" asp-action="Register">Register</a>
    }
}