@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TheBookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
var claim = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault( c => c.Type == "FirstName")?.Value;
}

@{
    if (SignInManager.IsSignedIn(User))
    {


        <form asp-controller="Account" asp-action="LogOut" method="POST" id="yourFormId">
            <p id="username">Hi @claim!</p>
            <a href="#" id="yourLinkId">Log out</a>
        </form>
    }
    else
    {
        <a asp-area="action" asp-controller="Account" asp-action="Login">Log in</a>
        <a asp-area="action" asp-controller="Account" asp-action="Register">Register</a>
    }
}