<div>
    <h3 class="text-center">Your search returned no results!</h3>
    <h4 class="text-center">Don't give up - check the spelling or try less specific search terms.</h4>
    <p class="text-center"><a asp-action="Index" class="btn btn-lg btn-default">Home</a></p>
</div>