<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/account.css" />
    <title>Document</title>
</head>
<body>
    <h2>My Account</h2>
    <div id="information-account">
    <table>
        <tr>
            <td>Name</td>
            <td>Lorem</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>Lorem</td>
        </tr>
        <tr>
            <th>Billing Adress</th>
            <td>
                Lorem </br> Lorem </br> Lorem
            </td>
        </tr>
        <tr>
            <th>Shipping Adress</th>
            <td>
                Lorem </br> Lorem </br> Lorem
            </td>
        </tr>
        <tr>
            <th>Favourite Book</th>
            <td>Lorem</td>
        </tr>
    </table>
    </div>
    <img src="~/images/user.png" alt="No Image" id="account-picture">
    <button></button>
</body>
</html>