<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/account.css">

    <title>Document</title>
</head>
<body>
    <div class="account-info">
        <h2>My Account</h2>
        <div class="account-table">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <td>Stefán Jónsson</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>stefanjonsson@gmail.com</td>
                </tr>
                <tr>
                    <th>Billing address</th>
                    <td>
                        Stórhóll 31 </br>
                        Íbúð 200 </br>
                        640 Húsavík </br>
                        Iceland
                    </td>
                </tr>
                <tr>
                    <th>Delivery address</th>
                    <td>
                        Tröllagil 29 </br>
                        Íbúð 304 </br>
                        603 Akureyri </br>
                        Iceland
                    </td>
                </tr>
                <tr>
                    <th>Favorite book</th>
                    <td>The Great Gatsby</td>
                </tr>
            </table>
        </div>
        <div class="account-photo">
            <img src="~/images/user.png" alt="No image">
                <button class="btn btn-default">Edit profile</button>
                <button class="btn btn-default">Change password</button>
        </div>
    </div>
</body>
</html>