@model TheBookCave.Models.ViewModels.RegisterViewModel
<link rel="stylesheet" href="~/css/for-details.css" />

<h1 class="text-center">Register</h1>
<form asp-action="Register" asp-controller="Account" class="form-horizontal marginclass">
<div class="form-group">
    <input type="email" asp-for="Email" class="form-control" placeholder="Enter email...">
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter first name...">
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="text" asp-for="LastName" class="form-control" placeholder="Enter last name...">
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="password" asp-for="Password" class="form-control" placeholder="Enter password...">
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="form-group">
    <button type="submit" class="btn">Register</button>
</div>
</form>