@model TheBookCave.Models.ViewModels.ResetPasswordViewModel

<h1>Reset your password</h1>

<form asp-controller="Account" asp-action="ResetPassword" method="POST">
    <input type="hidden" asp-for="Token">
    <table>
        <tr>
            <td><label asp-for="UserName"></label></td>
            <td><input asp-for="UserName" /></td>
        </tr>
        <tr>
            <td><label asp-for="Password">New Password</label></td>
            <td><input asp-for="Password" /></td>
        </tr>
        <tr>
            <td><label asp-for="ConfirmPassword">Confirm New Password</label></td>
            <td><input asp-for="ConfirmPassword" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Reset Password" />
            </td>
        </tr>
    </table>

    <div asp-validation-summary="All"></div>
</form>