@model TheBookCave.Models.ViewModels.AccountListViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/styles.css"><h2>Checkout</h2>

<form class="form-horizontal" method="POST">
    <div class="form-group">
        <label class="control-label col-sm-2" for="FirstName">First name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="FirstName" placeholder="First name">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="LastName">Last name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="LastName" placeholder="Last name">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="BillingAddressStreet">Billing address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="BillingAddressStreet" placeholder="Street name">
            <span asp-validation-for="BillingAddressStreet" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="BillingAddressHouseNumber"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="BillingAddressHouseNumber" placeholder="House number">
            <span asp-validation-for="BillingAddressHouseNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="BillingAddressLine2"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="BillingAddressLine2" placeholder="(Optional) Apartment / suite ...">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="BillingAddressZipCode"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="BillingAddressZipCode" placeholder="Postal code">
            <span asp-validation-for="BillingAddressZipCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="BillingAddressCity"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="BillingAddressCity" placeholder="City / town">
            <span asp-validation-for="BillingAddressCity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="BillingAddressCountry"></label>
        <div class="col-sm-10">
            <select class="form-control" id="country" name="BillingAddressCountry">
                <option value="">Select a country</option>
                <option value="Canada">Canada</option>
                <option value="Denmark">Denmark</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Iceland">Iceland</option>
                <option value="Ireland">Ireland</option>
                <option value="Italy">Italy</option>
                <option value="Norway">Norway</option>
                <option value="Sweden">Sweden</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
            </select>
            <span asp-validation-for="BillingAddressCountry" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="SameAddresses">Same billing and delivery address</label>
        <div class="col-sm-10">
            <input type="checkbox" name="SameAddresses" id="mycheckbox" value="1"/>
        </div>
    </div>

    <div id="mycheckboxdiv">
        <div class="form-group">
            <label class="control-label col-sm-2" for="DeliveryAddressStreet">Delivery address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="DeliveryAddressStreet" placeholder="Street name">
                <span asp-validation-for="DeliveryAddressStreet" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="DeliveryAddressHouseNumber"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="DeliveryAddressHouseNumber" placeholder="House number">
                <span asp-validation-for="DeliveryAddressHouseNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="DeliveryAddressLine2"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="DeliveryAddressLine2" placeholder="(Optional) Apartment / suite ...">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="DeliveryAddressZipCode"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="DeliveryAddressZipCode" placeholder="Postal code">
                <span asp-validation-for="DeliveryAddressZipCode" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="DeliveryAddressCity"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="DeliveryAddressCity" placeholder="City / town">
                <span asp-validation-for="DeliveryAddressCity" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="DeliveryAddressCountry"></label>
            <div class="col-sm-10">
                <select class="form-control" id="country" name="DeliveryAddressCountry">
                    <option value="">Select a country</option>
                    <option value="Canada">Canada</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                    <option value="Iceland">Iceland</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Italy">Italy</option>
                    <option value="Norway">Norway</option>
                    <option value="Sweden">Sweden</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States">United States</option>
                </select>
                <span asp-validation-for="DeliveryAddressCountry" class="text-danger"></span>
            </div>
        </div>
    </div>

    <input type="submit" value="Proceed to next step" class="btn btn-default">
    <a asp-controller="Home" asp-action="Index"><input type="button" value="Cancel" class="btn btn-danger"></a>
</form>