@model TheBookCave.Models.ViewModels.AccountListViewModel

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TheBookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    var email = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault( c => c.Type == "Email")?.Value;
}

<p>@email</p>
<a id="btn" class="btn btn-default btn-primary" asp-controller="ShoppingCart" asp-action="ConfirmationStep" asp-route-email="@email">Continue</a>