@{
    Layout=null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/styles.css">

<h2>Employee created</h2>
<a asp-controller="EmployeeSite" asp-action="Index" class="btn">Go back</a>