@model TheBookCave.Models.InputModels.BookInputModel

@{
    Layout=null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/styles.css">


<form class="form-horizontal" method="POST">
    <div class="pull-left">
        <div class="form-group">
            <label class="control-label col-sm-2" for="Title">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Title" placeholder="Title of the book">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Author">Author</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Author" placeholder="Name of author">
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Genre">Genre</label>
            <div class="col-sm-10">
                <select name="Genre" id="genre" class="form-control">
                <option value="">Choose A genre</option>
                <option value="Art & Photography">Art & Photography</option>
                <option value="Biography">Biography</option>
                <option value="Children">Children</option>
                <option value="Crime">Crime</option>
                <option value="Education">Education</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Fiction">Fiction</option>
                <option value="Food">Food</option>
                <option value="Historical Fiction">Historical Fiction</option>
                <option value="History">History</option>
                <option value="Nature">Nature</option>
                <option value="Self Help">Self Help</option>
                <option value="Philosophy">Philosophy</option>
                <option value="Romance">Romance</option>
                <option value="Science Fiction">Science Fiction</option>
                <option value="Thriller">Thriller</option>
            </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Image">Image</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Image" placeholder="URL to cover photo">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Price">Price $</label>
            <div id="price-div">
                <input id="price-input" type="text" class="form-control" asp-for="Price" placeholder="Price of the book in $">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Discount">Discount</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Author" placeholder="(Optional)">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Quantity">Quantity</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Quantity" placeholder="Number of books in inventory">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Description</label>
            <div class="col-sm-10">
                <textarea cols="100" rows="10" asp-for="Description" class="form-control" placeholder="Brief description about the book" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" value="Add book!" class="btn">
        <a asp-controller="EmployeeSite" asp-action="Index" class="btn">Cancel</a>
    </div>
</form>