@model TheBookCave.Models.ViewModels.BookListViewModel

@{
    Layout=null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div>
    <h2 class="text-center">Are you sure you want to delete this book?</h2>
    <h3 class="text-center">Title: @Model.Title</h3>


    <form method="post">
        <p class="text-center"><input type="submit" value="Delete" class="btn"></p>
    </form>
</div>