@model TheBookCave.Models.ViewModels.BookListViewModel

@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="~/css/for-employee.css">
</head>
<body>

<div>
    <h2 class="text-center">Are you sure you want to delete this book?</h2>
    <h3 class="text-center">Title: @Model.Title</h3>


    <form method="post">
        <p class="text-center"><input type="submit" value="Delete" class="btn"></p>
    </form>
    <p class="text-center"><a asp-controller="EmployeeSite" asp-action="Index" class="btn">Cancel</a></p>
</div>
</body>
</html>