@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/employee.css"/>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

<h2 id="top">Employee site</h2>

<div>
    <form asp-controller="EmployeeSite" asp-action="Index" class="form-horizontal loginform">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Insert username" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Insert password" class="form-control">
        </div>
        
        <button type="submit" class="btn">Log in</button>
    </form>

    <a asp-controller="Home" asp-action="Index"><button>Go Home</button></a>
</div>

</body>
</html>