@model TheBookCave.Models.ViewModels.RegisterViewModel

@{
    Layout=null;
}
<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


<h2>Register a new employee</h2>
<form asp-action="Register" asp-controller="EmployeeSite" class="">
<div class="form-group col-sm-8">
    <input type="email" asp-for="Email" class="form-control" placeholder="Enter email...">
</div>
<div class="form-group col-sm-8">
    <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter first name...">
</div>
<div class="form-group col-sm-8">
    <input type="text" asp-for="LastName" class="form-control" placeholder="Enter last name...">
</div>
<div class="form-group col-sm-8">
    <input type="password" asp-for="Password" class="form-control" placeholder="Enter password...">
</div>
<div class="text-danger">@ViewData["ErrorMessage"]</div>
<div class="form-group col-sm-8">
    <button type="submit" class="btn btn-default">Confirm</button>
    <a asp-controller="EmployeeSite" asp-action="Index"><input type="button" value="Cancel" class="btn btn-danger"></a>
</div>
</form>
