<h2>Frequently asked questions</h2>
</br>

<h4>Lorem Ipsum?</h4>
<p>Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur. 
    Ultrices tincidunt arcu non sodales neque sodales ut etiam sit.</p> 
    </br>

<h4>Ultrices dui sapien eget mi? </h4>
<p> Consequat interdum varius sit amet mattis vulputate enim nulla aliquet. Dolor sit amet 
    consectetur adipiscing elit pellentesque habitant. Aliquet nibh praesent tristique magna 
    sit amet purus. Nibh tortor id aliquet lectus proin nibh nisl condimentum.</p>
    </br>

<h4> Nascetur ridiculus mus mauris vitae ultricies?</h4>
<p> Eu ultrices vitae auctor eu augue ut lectus arcu.  Arcu bibendum at varius vel 
    pharetra vel turpis nunc eget. Donec ultrices tincidunt arcu non sodales neque 
    sodales ut. Iaculis nunc sed augue lacus viverra vitae. </p>
    </br>

<h4>Nunc sed id semper risus in hendrerit gravida?</h4>
<p> Vestibulum sed arcu non odio euismod lacinia at quis. Tempor commodo 
    ullamcorper a lacus vestibulum sed arcu. Urna cursus eget nunc scelerisque viverra. 
    Egestas maecenas pharetra convallis posuere. Et malesuada fames ac turpis egestas 
    sed tempus urna. Aliquet sagittis id consectetur purus ut faucibus. 
    Et ligula ullamcorper malesuada proin libero. </p>
    </br>

<h2>Contact us!</h2>
<form class="from-horizontal">
    <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" placeholder="put your email here">
    </div>
    <div class="form-group">
    <textarea class="form-control" cols="100" rows="10" placeholder="What whould you like to ask us?" ></textarea>
    </div>
    <button class="btn">Submit</button>
</form>
</br>
<p>If you prefer to contact us via phone, you can always call between 8am to 4pm every business day!</p>
<p>Our phone number is <b>889-4737</b></p>



