@model TheBookCave.Models.InputModels.BookInputModel

<link rel="stylesheet" href="~/css/styles.css">

<form action="POST">
    <label for="Title">Title</label>
    <input type="text" asp-for="Title">
    <div asp-validation-for="Title"></div>

    <label for="Author">Author</label>
    <input type="text" asp-for="Author">
    <div asp-validation-for="Author"></div>

    <label for="Price">Price</label>
    <input type="number" asp-for="Price">
    <div asp-validation-for="Price"></div>

    <label for="Discount">Discount</label>
    <select name="Discount" id="discount">
        <option value="10">10%</option>
        <option value="10">15%</option>
        <option value="10">20%</option>
        <option value="10">25%</option>
    </select>

    <label for="Quantity">Quantity</label>
    <input type="number" asp-for="Quantity">
    <div asp-validation-for="Quantity"></div>
</form>