#detailsContainer{
height: 400px;
width: 90%;
margin-left: 30px;
}
#detailsImage{
height: 100%;
width: 30%;
float: left;
}
#detailsDescription{
width: 70%;
float: left;
}
#Stars{
    margin-bottom: 20px;
}
#cover{
    width: 70%;
    height: 80%;
    margin-left: 45px;
    margin-top: 20px;
}
#price{
    display: inline;
}
.btn{
    margin-left: 10px;
    display: inline;
}
#description{
    margin-bottom: 20px;
    margin-top: 10px;
}
#yourrating{
    display: inline;
    margin-right: 5px;
}
#yourreview{
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 100px;
}