#detailsContainer{
height: 400px;
width: 90%;
border: solid;
margin-left: 30px;
}
#detailsImage{
height: 100%;
width: 30%;
float: left;
border: solid;
}
#detailsDescription{
width: 70%;
float: left;
border: solid;
}
#cover{
    width: 70%;
    height: 80%;
    margin-left: 45px;
    margin-top: 20px;
}
