.detailsContainer {
    height: 400px;
    width: 90%;
    margin-left: 30px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
}
#Stars {
    margin-bottom: 20px;
}
.detailsImage {
    height: 400px;
    width: 30%;
    float: left;
    
}
.detailsDescription {
    height: 400px;
    width: 70%;
    overflow: hidden;
    float: left;
}
.cover {
    width: 70%;
    height: 80%;
    margin-left: 45px;
    margin-top: 20px;
}
#badge img {
    position: absolute;
    height: 5%;
    width: auto;
    margin-top: 8px;
    margin-left: 10px;
}
#badge p {
    position: absolute;
    margin-top: 12px;
    margin-left: 18px;
}
.stjornur-tomar {
    color: #dbc924;
    size: 15px;
    margin-bottom: 20px;
}

#detail-oldprice {
    text-decoration: line-through;
}

#detail-newprice {
    color: red;
}
.btn {
    margin-left: 10px;
    display: inline;
}
.description {
    margin-bottom: 20px;
    margin-top: 10px;
}
.heart-img {
    margin-left: 220px;
    margin-top: 30px;
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;    
    position: absolute;
}

.heart-img:hover {
    background-color: transparent;
    border-color: transparent;
}

.heart-icon {
    color: white;
}

.heart-icon:hover {
    color: red;
}

.heart-icon-active {
    color: red;
    background-color: transparent;
}
#book-id{
    display: none;
}
#review{
    background-color: white;
    float: left;
    width: 100%;
    height: 400px;
}
.form-horizontal{
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#comment{
    height: 50px;
}
.onereview{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 90%;
    border-radius: 7px;
    background-color: #f7f7f7;
}

.addcart {
    width: 150px;
    margin-left: 0;
}
.red{
    color: red;
}