.star{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
}
#Stars{
    width: 100px;
    height: 20px;
}
.dropdown {
    display: inline-block;
}

.dropdown-window {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: #f1f1f1;
    width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-window .dropdown-list {
    color: rgb(139, 139, 1);
    text-decoration: none;
    display: block;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

.dropdown-window a:hover {
    background-color: lightblue;
}

.dropdown:hover .dropdown-window {
    display: block;
}