#navbar {
    border: solid;
    height: 100px;
}

#search-bar {
    display: inline;
}

#logo-wrap {
    margin-right: 60px;
    display: inline;
}

body {
    padding-top: 120px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#default-book {

    margin: 0px 20px 0px 20px;
    border-style: solid;
    border-color: black;
    width: 220px;
    overflow: hidden;
    float: left;
    padding-left: 26px;
    margin-bottom: 5%;
}

#front-page-books {
    margin-top: 100px;
    border-style: solid;
    border-color: blue;
    float: left;
    width: 100%;
    padding-left: 50px;
}

img {
    width: 160px;
}

#book-img {
    height: 220px;
}

#book-title {
    height: 50px;
}