body {
    padding-top: 120px;
    padding-bottom: 20px;
    padding-left: 120px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#navbar {
    border: solid 0.5px black;
    height: 100px;
    background-color: lightblue;
    padding-top: 5px;
}

.nav-container img {
    height: 20%;
    width: 12%;
    margin-left: 30px;
}

.nav-container ul {
    margin-right: 5px;
}

.search-bar {
    display: inline;
    padding-left: 70px;
}

#search-box {
    width: 600px;
}

#logo-wrap {
    margin-right: 60px;
    display: inline;
}

#sidebar-wrap {
    position: fixed;
    height: 100%;
    width: 14%;
    background-color: lightblue;
    z-index: 1;
    top: 0;
    left: 0;
    /*overflow-x: hidden;*/
    padding-top: 150px;
    border: solid;
}

.sidebar-nav {
    /*position: absolute;*/
    top: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: -10px;
    line-height: 25px;
}

.sidebar-nav li a {
    color: black;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 35px;
}

#default-book {

    margin: 0px 20px 0px 20px;
    border-style: solid;
    border-color: black;
    width: 220px;
    overflow: hidden;
    float: left;
    padding-left: 26px;
    margin-bottom: 5%;
}

#front-page-books {
    margin-top: 100px;
    margin-left: 150px;
    border-style: solid;
    border-color: blue;
    float: left;
    width: 100%;
    padding-left: 50px;
}



#book-img {
    height: 220px;
}

#book-title {
    height: 50px;
}

.heart-img {
    position: fixed;
    margin-left: 110px;
    margin-top: 5px;
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;    
    position: absolute;
}

.heart-img:hover {
    background-color: transparent;
    border-color: transparent;
}

.heart-icon {
    color: white;
}

.heart-icon:hover {
    color: red;
}

.heart-icon-active {
    color: red;
    background-color: transparent;
}

.icons {
    float: right;
    position: relative;
    font-size: 40px;
    margin-right: 30px;
    margin-top: 20px;
}

.icons a {
    margin: 20px;
    color:#f99d31;
}

.ListSocial{
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
}

.ItemSocial{
    float: left;
    width: 33%;
    display: flex; 
    justify-content: center;
}

.Social{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#footer div {
    display: flex; 
    justify-content: center;
}

#footer {
    width:100%;
    background:lightblue;
    margin:0;
    padding-bottom: 30px;
}

#LockIcon {
    float: right;
    padding-right: 10px;
}

