#item{
    overflow: hidden;
    border: solid;
    margin-top: 30px;
    width: 90%;
    height: 340px;
}
.details{
    float: left;
}
#about{
    width: 75%;
    height: 100%;
}
.img{
    width: 60%;
    height: 70%;
    margin-left: 45px;
}
#mynd{
    width: 25%;
    height: 100%;
}
#btn{
    margin-left: 55px;
    margin-right: auto;
    margin-top: 5px;
    width: 50%;
}
#number{
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
}